body{
    text-align: center;
    font-family: sans-serif;
}
.googleicon{
    display: block;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.searchh{
    height: 27px;
    display: flex;
    border: none ;
    margin-bottom: 10px;
    outline: none;
    position: relative;
    top: 19%;
    width: 450px;
    font-size: 14px;
    
}
.searchicon{
    margin-right: 10px;
    display: flex;
    height: 14px;
    line-height: 20px;
    width: 14px;
    margin-top: 15px;
    margin-left: 12px;
    color: #9aa0a6;
    display: inline-block;
    fill: currentColor;    
    line-height: 24px;
    

}
.searchsection{
    display: flex;
    
}

.ggkk{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}
.ggkk:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
 .swi{
    display: flex;
    
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-top: 7px;
    
  
    
 }

 .mic{
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
 }

 .buttonn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
 }

 #SIvCob
 {
    
    font-size: 14px;
    
 }

 .buttonn:hover{
    border: 1px solid #dfe1e5;
 }
 .asite{
    padding-left: 3.5px;
    padding-right: 3.5px;
    color: blue;
    text-decoration: none;
 }

 .asite:hover{
    text-decoration: underline;
 }
 .dot9{
    height: 18px;
    margin-left: 10px;
    margin-right: 10px;
    
    
    
 }
 .toprightcorner{
    text-align: right;
    font-size: small;
    margin-top: 20px;
 }
 .signin{
    padding: 9px 23px 9px 23px;
    background-color: #1a73e8;  
    display: inline-block;  
    border-radius: 5px;
    margin: 3px 15px;
}
.signin:hover{
    background-color: #1763c6;
}
.sisite{
    text-decoration: none;
    color: #fff;
}

.bsite{
    color: #3c4043;
    text-decoration: none;
    margin: 3px 10px;
}
.bsite:hover{
    text-decoration: underline;
}